* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
}

body {
  font-family: system-ui, apply-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
  color:black;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tab {
  display: flex;
  flex-direction: column;
}

.tab-name {
  font-size: 35px;
  color: black;
}

.box {
  /* outline: solid rgb(5, 69, 88); */
  border-radius: 30px;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: row;
  outline: solid rgb(0, 0, 0);
  background-color:#5090e0;
  justify-content: center;

  border-radius: 30px;
  max-width: 70%;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* outline: solid rgb(5, 69, 88); */
  width: 750px;
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #a0d0f0;
  border-radius: 30px;
}

.identity {
  color: black;
  font-size: 50px;
  background-color: #a0d0f0;
  border-radius: 30px;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.prompt {
  color: black;
  font-size: 20px;
  padding: 12px;
}

.value {
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 12px;
}

.pic {
  height: 435px;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.icons{
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 10px;
  background-color: #a0d0f0;
  border-radius: 30px;
  margin-bottom: 25px;
  margin-top: 10px;
  justify-content: center;
}

.icons a {
  display: block;
}